@use '../mixins/responsive.scss' as *;

.article {
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 0 .75rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2.5rem;

    @include responsive(desktop) {
        display: flex;
        padding: 54px 2rem 54px 7.5rem;
        justify-content: space-between;
    }

    &--reverse {
        @include responsive(desktop) {
            flex-direction: row-reverse;
        }
    }

    &__pic {
        @include responsive(desktop) {
            width: 400px;
        }
    }

    &__info {
        @include responsive(desktop) {
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.article-small {
    position: relative;
    bottom: -68px;
    padding: 1.5rem 0;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 0 .75rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include responsive(desktop) {
        bottom: -92px;
        width: 800px;
        height: 280px;
        padding-top: 75px;
        margin-left: auto;
        margin-right: auto;
    }
}