@use '../mixins/responsive.scss' as *;

.button {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;

    &__top {
        background-color: white;
        width: 100px;
        height: 25px;

        @include responsive(desktop) {
            font-size: 0.9rem;
            width: 200px;
            height: 50px;
        }
    }

    &__header,
    &__footer {
        background-color: var(--pink);
        color: white;
    }

    &__header {
        width: 240px;
        height: 40px;

        @include responsive(desktop) {
            font-size: 0.9rem;
            width: 280px;
            height: 50px;
        }
    }

    &__footer {
        width: 200px;
        height: 40px;

        @include responsive(desktop) {
            font-size: 1.25rem;
            border-radius: 3rem;
            width: 400px;
            height: 80px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--shadow {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
}