@use '../mixins/responsive.scss' as *;

.footer {
    background-color: var(--dark-cyan);
    color: white;
    padding: 140px 20px 20px 20px;
    height: 850px;
    padding-top: 140px;
    font-size: 14px;

    @include responsive(desktop) {
        height: 560px;
        padding: 190px 120px 20px 120px;
    }

    &__columns {
        @include responsive(desktop) {
            max-width: 1100px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__grid {
        max-width: 375px;
        display: grid;
        grid-template-columns: 24px 1fr;
        gap: 1rem;
    }

    &__text {
        max-width: 400px;
        margin: 0;
    }

    &__item {
        margin-bottom: 1rem;

        @include responsive(desktop) {
            margin-bottom: 1rem;
        }
    }

    &__link:hover {
        @include responsive(desktop) {
            text-decoration: underline;
        }
    }
}

.copyright {
    text-align: center;
    font-size: 11px;

    @include responsive(desktop) {
        text-align: right;
        font-size: 12px;
    }
}