@use '../mixins/responsive.scss' as *;

.footer {
    background-color: var(--dark-cyan);
    color: white;
    padding: 140px 20px 20px 20px;
    height: 850px;
    padding-top: 140px;

    @include responsive(desktop) {
        height: 560px;
        padding: 140px 120px 20px 120px;
    }

    &__columns {
        @include responsive(desktop) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

    }

    &__grid {
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: 1rem;
    }

    &__text {
        max-width: 400px;
        margin: 0;
    }
}

.copyright {
    text-align: center;

    @include responsive(desktop) {
        text-align: right;
    }

}