@use '../mixins/responsive.scss' as *;

.header {
    padding: 1rem;
    background-color: var(--pale-cyan);
    background-image: url(../assets/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    @include responsive(desktop) {
        background-image: url(../assets/images/bg-hero-desktop.svg);
        padding: 48px 80px;
        margin-bottom: 10rem;
        background-size: contain;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include responsive(desktop) {
            margin-bottom: 70px;
        }
    }

    &__info {
        margin-bottom: 56px;

        @include responsive(desktop) {
            margin-bottom: 0;
        }
    }

    &__text {
        padding: 0 20px;

        @include responsive(desktop) {
            padding: 0;
        }
    }

    &__text-with-image {
        @include responsive(desktop) {
            display: flex;
            gap: 4rem;
        }
    }

    &__image {
        @include responsive(desktop) {
            max-width: 700px;
        }
    }
}