@use '../mixins/responsive.scss' as *;

.social {
    display: flex;
    justify-content: center;
    gap: .75rem;
    margin-bottom: 26px;

    @include responsive(desktop) {
        margin-bottom: 0;
        justify-content: flex-start;
    }

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        aspect-ratio: 1;
        border: 1px solid white;
        border-radius: 50%;
    }

    &__link:hover {
        @include responsive(desktop) {
            color: var(--pink);
            border-color: var(--pink);
        }
    }
}